/* Global Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 5rem;
}

:root {
    /* Font Color */
    --font-color-4: #3a3f59;
    --font-color-3: #ec6b58;
    --font-color-2: #f9ad66;
    --font-color-1: #ede6ce;

    /* Background Color */
    --background-color-1: #3a3f59;
    --background-color-2: #ec6b58;
    --background-color-3: #f9ad66;
    --background-color-4: #ede6ce;

    /* Font Size */
    --title-font-1: 2rem;
    --title-font-2: 1rem;
    --title-font-3: .7rem;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--background-color-1);
}


/* Main Style */
.kontener {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: .4rem .8rem;
    color: var(--font-color-4);
    background-color: var(--background-color-3);
    border-radius: .5rem;
    text-decoration: none;
}

.button:hover {
    color: var(--font-color-4);
    background-color: var(--background-color-4);
}

.button:active {
    transform: scale(.97);
}



/* Navbar */
nav {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--background-color-1);
}

nav h2 {
    font-weight: bold;
    color: var(--font-color-2);
    font-size: var(--title-font-1);
    cursor: pointer;
    margin-top: .8rem;
}

nav h2:hover {
    color: var(--font-color-1);
}

nav ul {
    display: flex;
    margin-top: 1rem;
}

nav ul a {
    padding: 1.5rem;
    text-decoration: none;
    font-size: var(--title-font-2);
    color: var(--font-color-1);
}

nav ul a:hover {
    color: var(--font-color-2);
}



/* Header */
header {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

header p,
h2 {
    color: var(--font-color-1);
    padding: 0;
    margin-bottom: .2rem;
}

span {
    color: var(--font-color-3);
}

header img {
    min-width: 350px;
    max-width: 450px;
    width: 100%;
}

.header .introduce {
    min-width: 250px;
}



/* Main */
main {
    display: flex;
    justify-content: center;
}

.kontener-main {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    display: flex;
    justify-content: center;
    color: var(--font-color-3);
}

section p {
    color: var(--font-color-1);
}

section h4 {
    color: var(--font-color-3);
}



/* Swiper For Skill*/
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

swiper-container {
    width: 100%;
    max-width: 24rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25rem;
}

swiper-slide i {
    font-size: 15rem;
    display: block;
    width: 100%;
    overflow: hidden;
}

.fa-html5 {
    color: rgb(226, 90, 0);
}

.fa-css3-alt {
    color: rgb(39, 89, 255);
}

.fa-js {
    color: rgb(203, 218, 0);
}

.fa-react {
    color: rgb(0, 183, 255);
}

.fa-angular {
    color: rgb(179, 0, 0);
}

.fa-php {
    color: rgb(40, 39, 121);
}

.fa-laravel {
    color: rgb(189, 0, 0);
}

.fa-node {
    color: rgb(42, 173, 53);
}

.fa-bootstrap {
    color: rgb(72, 0, 206);
}



/* Main Gallery */
article .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

article .gallery img {
    flex: 0 1 auto;
    width: 350px;
    border-radius: 10px;
    border: 2px solid white;
}



/* Main Portfolio */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container-cards .card {
    flex: 0 1 350px;
    overflow: hidden;
}

.container-cards .card img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.container-cards .card p {
    color: var(--font-color-4);
}



/* Container Modal Portfolio */
.container-modal {
    display: flex;
    flex-direction: column;
}

/* Desktop */
.container-modal .desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container-modal .desktop h2 {
    color: var(--font-color-4);
}

.container-modal .img-desktop {
    width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.459);
}

/* Ipad */
.container-modal .ipad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container-modal .ipad h2 {
    color: var(--font-color-4);
}

.container-modal .img-ipad {
    width: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.459);
}

/* Smartphone */
.container-modal .smartphone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container-modal .smartphone h2 {
    color: var(--font-color-4);
}

.container-modal .img-smartphone {
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.459);
}



/* Component Footer */
footer {
    padding: 30px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);
}

footer p,
a {
    color: var(--font-color-1);
    text-decoration: none;
    padding: 0;
    margin: 0;
}

footer span {
    color: var(--font-color-3);
}

footer .contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 30px;
}

footer .contact .icon-contact {
    display: flex;
    flex-direction: column;
}

footer .contact .icon-contact a {
    font-size: 1.1rem;
}

footer .copyright {
    display: flex;
    justify-content: center;
}

.contact img {
    max-width: 350px;
    width: 100%;
}



/* Responsive */
@media screen and (max-width:980px) {
    html {
        font-size: 90%;
    }

    .hidden {
        display: none;
    }

    swiper-slide i {
        font-size: 10rem;
    }

    .kontener {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:650px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact .image-contact {
        display: flex;
        justify-content: center;
    }

    .contact img {
        margin-top: 30px;
    }
}





/* Loading Screen */
#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cccccc;
}
#loading-message {
    font-size: 16px;
}
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
}
.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}
@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}
.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}
.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}
.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}
@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}